In [1]:
class Cat:
    def __init__(self, name):
        self.name = name

In [4]:
second_cat = Cat("Garfield")
print(second_cat.name)

Garfield

In [3]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [5]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound

    def bark(self):
        return self.sound + ' ' + self.sound

In [7]:
Second_dog = Dog('Lady', 'blonde', 'arf!')
print(    Second_dog.name)
print(Second_dog.color)
Second_dog.bark()

Lady
blonde

'arf! arf!'

In [8]:
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

NameError: name 'school_data_complete_df' is not defined